body {
  background-color: #e9ebee;
}

.App {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.LeftBanner {
  width: 20vw;
  margin-top: 20px;
}

.Main {
  width: 60vw;
  padding: 20px;
}

.Main .button {
  margin-bottom: 20px;
}

.bg-main {
  background-color: #ffffff;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
}

.RightBanner {
  width: 20vw;
  margin-top: 20px;
}

.right ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}

.right ul li {
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.right ul li:not(:last-child) {
  margin-right: 15px;
}

.user {
  margin-bottom: 30px;
}

.image {
  cursor: pointer;
}

.image:hover {
  background-color: #f5f6f7;
}

.image img {
  width: 30px;
  margin-right: 15px;
}

.photo-icon:hover .icon .edit, .photo-icon:hover .icon #trash {
  visibility: visible;
  opacity: .3;
}

.photo-icon .icon .edit:hover, .photo-icon .icon #trash:hover {
  opacity: 1;
}

.bg-image {
  height: 120px;
}

.fa-plus {
  font-size: 18px;
  position: absolute;
  top: 28%;
  left: 45%;
  visibility: hidden;
}

.fa-plus.visible {
  visibility: visible;
}

.fa-plus:hover {
  transform: scale(1.2);
}

/* photo detal */

.item:hover .heart {
  display: block;
}

.inner-img {
  position: relative;
}

.inner-img:hover {
  text-decoration: none;
  transform: scale(1.03);
  transition: transform .3s ease-in-out;
}

img {
  width: 100%;
}

.heart {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #888888;
  background-color: transparent;
  border: none;
  font-size: 30px;
}

.red {
  color: tomato;
}

.fav-heart {
  font-size: 20px;
}

.photo-detal-icon i {
  font-size: 18px;
  margin-top: 10px;
  float: right;
}

.styleEdit {
  padding: 6px 8px;
  background-color: #474242;
  color: white;
  border-radius: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.styleTrash {
  padding: 6px 9px;
  background-color: rgb(219, 52, 52);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.icon {
  visibility: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputEdit {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 7px 5px;
  width: 90%;
}

.Like {
  margin-top: 100px;
}

.t-d-hidden {
  display: none;
}

@media screen and (max-width: 320px) {
  /* .LeftBanner, .RightBanner {
    display: none;
  }

  .Main {
    width: 90vw;
  } */
}

@media screen and (max-width: 375px) {
  /* .LeftBanner, .RightBanner {
    display: none;
  }

  .Main {
    width: 90vw;
  } */
}

@media screen and (max-width: 425px) {
  .LeftBanner, .RightBanner {
    display: none;
  }
  .Main {
    width: 100vw;
  }
  .button_container {
    position: fixed;
    top: 2%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease;
  }
  .button_container:hover {
    opacity: .7;
  }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .button_container span {
    background: white;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .button_container span:nth-of-type(3) {
    top: 22px;
  }
  .overlay {
    position: fixed;
    background: rgb(164, 164, 223);
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
  }
  .overlay.open {
    opacity: .9;
    visibility: visible;
    height: 100%;
  }
  .overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: .4s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: .50s;
  }
  .overlay.open li:nth-of-type(5) {
    animation-delay: .55s;
  }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: 'Varela Round', serif;
    font-weight: 400;
    text-align: center;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }
  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: .35s;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  .mobile-hidden {
    display: none;
  }

  .photo-detal-icon i {
    height: -50px;
  }
}

@media screen and (max-width: 768px) {
  .bg-image {
    height: 170px;
  }
}


